#sample{
    font-size: 30px;
    color: blue;
    font-weight: bold;
    text-align: justify;
    line-height: 40px;
    word-spacing: normal;
    text-transform: uppercase;
    text-decoration: underline;
}
